<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">Sale Subscription</h2>
    <h3 class="oe_slogan">An easy way to manage your client's subscriptions.</h3>
    <div class="oe_span12">
      <div class="oe_span12">
        <!-- <img class="oe_demo oe_picture oe_screenshot" src="Subscription_list.png"> -->
      </div>
    </div>
  </div>
</section>

<section class="oe_container">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">Manage subscriptions</h2>
      <div class="oe_span6 text-justify oe_nt32">
        <br>
        <span class="fa fa-check-square-o  fa-2x pull-left"/>
        <p class='oe_mb32' style="margin-left:48px">
          Create subscription such as rent, phone bill and internet subscription and all other regular payments that needs recurrent client's invoices.<br><br>
        </p>
        <span class="fa fa-check-square-o  fa-2x pull-left"/>
        <p class='oe_mb32' style="margin-left:48px">
          Define how often you need to create invoices and the duration of the subscription.<br><br>
        </p>
        <span class="fa fa-check-square-o fa-2x pull-left"/>
        <p class='oe_mb32' style="margin-left:48px">
          Create, Start, Cancel or Stop your subscription whenever you want.
        </p>
      </div>
      <div class="oe_span6">
        <!-- <img class="oe_picture oe_screenshot" src="Subscription_subscription.png"> -->
      </div>
    </div>
</section>

<section class="oe_container oe_dark">
  <div class="oe_row oe_spaced">
    <h2 class="oe_slogan" style="color:#875A7B;">Generate your invoices </h2>
    <div class="oe_span6">
      <!-- <img class="oe_picture oe_screenshot" src="Subscription_invoice.png"> -->
    </div>
    <div class="oe_span6">
      <p class='oe_mt32 text-justify'>
        <br>Generate your invoices with ease:
        <br>Invoices are automatically generated and already defined on the right period of time,
         depending on the previous invoice or the start date if it's the first invoice.<br>
      </p>
    </div>
 </div>
</section>


<section class="oe_container" style="margin-top:50px;">
  <div class="oe_row oe_spaced">
    <hr style="height:2px; background-color:lightgrey;">
    <h3 class="oe_slogan" style="color:black";>Realised by Oxilia-Info</h3>
    <div class="oe_span6">
      <h4 class="oe_slogan" style="color:#875A7B;"><br>Oxilia-Info is an integrator, contributor to open source enterprise management solutions.<br></h4>
    </div>
    <div class="oe_span6">
      <a href="http://oxilia-info.fr">
        <img class="oe_picture" src="logooxilia.png">
      </a>
    </div>
  </div>
</section>
